<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhommot.doctruyen">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/main_activity_name" />
        <activity android:name=".ui.activities.SettingActivity" />
        <activity android:name=".ui.activities.AccountActivity" />
        <activity android:name=".ui.activities.ChaptersActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.ForgetPasswordActivity" />
        <activity android:name=".ui.activities.ReadActivity" />
        <activity android:name=".ui.activities.FavouriteActivity" />
        <activity android:name=".ui.activities.ReviewActivity" />
        <activity android:name=".ui.activities.AdminActivity" />
        <activity android:name=".ui.fragments.BookOfflineFragment" />

        <activity android:name=".ui.activities.Detail" />
        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>